body {
    background-color: rgb(61, 66, 66);
    background-image: url("https://wallpapercave.com/wp/wp1828929.jpg");
}
h1 {
    color:floralwhite;
    text-align: left;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
div.aboutme {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size:medium;
    color:linen;
    border: 3px red groove;
}