body {
    background-image: url(C:\Images\eat sleep code.jpg);
    background-color: rgb(61, 66, 66);
}
h1 {
    color:floralwhite;
    text-align: center;
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}